.filter-container {
  position: relative;
  top: 3rem;
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: flex-start;
}

.filter-heading {
  font-size: large;
}

.checkbox-container {
  display: flex;
}

.radio-container {
  display: flex;
}
